/* Estilos generales */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #110072 !important;}
.text-light { color: #cfd6e1 !important;}   
.bg-dark { background-color: #00214f !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #1d242d !important;}
.bg-success { background-color: #59ab6e !important;}
.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}


/* Tipografia */
body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 400 !important;
  }
  .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
  }

/* Estilos de encabezado y navegación */
#Codo_a_Codo_nav_top { min-height: 30px;}
#Codo_a_Codo_nav_top * { font-size: .9em !important;}

#Codo_a_Codo_main_nav a { color: #001a3d;}
#Codo_a_Codo_main_nav a:hover { color: #69bb7e;}
#Codo_a_Codo_main_nav .navbar .nav-icon { margin-right: 20px;}

#Codo_a_Codo_cuadro_gris {
    background-color: #b6b6b6;
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    text-align: center;
}

/* Footer */
#Codo_a_Codo_footer a { color: #dcdde1;}
#Codo_a_Codo_footer a:hover { color: #68bb7d;}
#Codo_a_Codo_footer ul.footer-link-list li { padding-top: 10px;}
#Codo_a_Codo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

.fotoPerfilContenedor {
    
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border-radius: 50%; /* Hace que el borde tenga forma de círculo */
    overflow: hidden; /* Oculta cualquier contenido que se salga del círculo */
    width: 100%; /* Ajusta el ancho y el alto según tus necesidades */
    height: 100%;
  }
  
  /* Estilo para la imagen */
  .imagenPerfil {
    width: 100%; /* Ajusta el tamaño de la imagen para llenar el círculo */
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que se ajuste y recorte dentro del círculo */
  }

